body {
    font-family: Roboto, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
    margin: auto;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
  }

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    text-align: left;
    margin: 2px;
}

button {
    background-color: #3882F6;
    width: 100px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 0;
    padding-top: 25px;
}

img {
    height: 150px;
    border: 2px solid #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 18px;
    color: #E5E7EB;
    height: 50px;
    padding: 1vh 10vw;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
    font-weight: 700;
}

.header-links {
    display:flex;
    align-items: center;
}

.top-banner {
    display: flex;
    padding: 10vh 10vw;
    gap: 100px;
    color: #E5E7EB;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.image {
    align-self: center;
}

.grid {
    display: flex;
    background-color: white;
    padding: 25px;
    justify-content: center;
    gap: 50px;
    margin: 5vh 20vw;
    margin-top: 25px;
}

.text {
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    max-width: 150px;
}

.float-quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    display: flex;
    padding: 10vh 20vw;
    flex-direction: column;
}

.signature {
    text-align: right;
}

.newsletter-box {
    display: flex;
    background-color: #3882F6;
    padding: 25px;
    margin: 5vh 15vw;
    border-radius: 10px;
    justify-content: space-around;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    color: white;
}

.button {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    padding: 25px;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}





